CompileFlags:
  Add:
    - -I/home/riki/heart-vis/emsdk/upstream/emscripten/system/include
    - -D__EMSCRIPTEN__
    - --target=wasm32-unknown-emscripten
    - -std=c++17
    - --sysroot=/home/riki/heart-vis/emsdk/upstream/emscripten/system
  Compiler: /home/riki/heart-vis/emsdk/upstream/emscripten/em++

Diagnostics:
  Suppress:
    - "*"
