.obsidian/workspace.json
.obsidian/workspaces.json
build/*
!build/heart.out.js
!build/heart.out.wasm
.clang-format

.vite/
.vscode/
node_modules/
package-lock.json
.cache/
compile_commands.json
.emscripten_cache/

*.bak
*~
*.swp
*.tmp
*.out