.obsidian/workspace.json
.obsidian/workspaces.json
cbuild/cmake_install.cmake
cbuild/CMakeCache.txt
cbuild/Makefile
.clang-format
cbuild/CMakeFiles/
.vite/
.vscode/
node_modules/
package-lock.json




*.bak
*~
*.swp
*.tmp
*.out