@import "tailwindcss";

* {
	font-family: Helvetca, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: white;
}

body {
	margin: 0;
	background-color: #545c7e;
}

.global-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#viewport {
	border-right: 0.2em solid whitesmoke;
	width: 100vh;
	height: 100vh;
	background-color: #080808;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.right-column {
	display: flex;
	flex-direction: column;
	padding-left: 3vh;
	height: 100vh;
	flex: 1;
}

.right-row {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
	display: flex;
	align-items: center;
	white-space: nowrap;
	margin: 2vh 2vh 2vh 0vh;
	font-size: 5vh;
	gap: 1vh;
	filter: drop-shadow(0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3));
}

.title-icon {
	height: 1em;
	width: auto;
	vertical-align: middle;
	filter: drop-shadow(0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3));
}

.btn-upload {
	background-color: #007bff;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.btn-upload:hover {
	background-color: #0056b3;
}

.btn-camera {
	background-color: #8833ff;
	width: 10vh;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.btn-camera:hover {
	background-color: #6656b3;
}

.btn-animation {
	background-color: lightgreen;
	color: black;
	width: 10vh;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.btn-animation:hover {
	background-color: greenyellow;
}

.hidden-btn-upload {
	display: none;
}

.btn-upload,
.qualities-container label,
.meshes-container label,
.btn-camera,
.btn-animation {
	display: inline-block;
	text-align: center;
	border-radius: 1vh;
	padding: 1vh;
	margin: 2vh 1vh 1vh 0vh;
	cursor: pointer;
	font-size: 2vh;
	font-weight: bold;
	font-style: italic;
	transition: background-color 0.2s;
}

.slider-container {
	width: 30vh;
}

.slider-knob {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 0.5vh;
	border-radius: 0.5vh;
	background: black;
	outline: none;
	opacity: 0.7;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.slider-knob::-moz-range-thumb {
	width: 2vh;
	height: 2vh;
	background: cyan;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.vertex-info,
.upload-info {
	display: inline-block;
	text-align: left;
	padding: 1vh;
	margin: 2vh 1vh 1vh 0vh;
	font-size: 1.8vh;
	font-weight: normal;
	filter: drop-shadow(0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3));
}

.meshes-container,
.qualities-container {
	display: flex;
	flex-direction: column;
	background: #aa11ff;
	border-radius: 1vh;
	gap: 0vh;
	text-align: left;
	margin: 2vh 1vh 1vh 0vh;
	width: 14vh;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.color-gauge {
	display: flex;
	flex-direction: column;
	margin: 0vh 4vh 0vh 0vh;
	margin-left: auto;
	gap: 0vh;
	text-align: center;
}

.max-value,
.min-value {
	width: 8vh;
	text-align: center;
	background: black;
	border-radius: 0.5vh;
	margin: 0.5vh 0vh;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.gradient-bar {
	margin: 0vh;
	height: 42vh;
	width: 8vh;
	border-radius: 0.5vh;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.gauge-line {
	position: absolute;
	left: -4%;
	width: 108%;
	height: 0.3vh;
	background-color: black;
	border-radius: 0.5vh;
	transition: bottom 0.1s ease-out;
}

.meshes-container label,
.qualities-container label {
	display: inline-block;
	margin: 0vh 2vh 0vh 0vh;
	border-radius: 0vh;
	text-align: left;
	padding: 1vh;
	width: 12vh;
}

.meshes-container input[type="radio"],
.qualities-container input[type="radio"] {
	display: none;
}

.meshes-container label.mesh-top,
.qualities-container label.quality-top {
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
}

.meshes-container label.mesh-bottom,
.qualities-container label.quality-bottom {
	border-bottom-left-radius: 1vh;
	border-bottom-right-radius: 1vh;
}

.qualities-container label:has(input:checked) {
	background-color: black;
}

.meshes-container label:has(input:checked) {
	background-color: black;
}

.meshes-container label:hover,
.qualities-container label:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
