* {
	font-family: Helvetca, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: whitesmoke;
}

body {
	margin: 0;
	background-color: #545c7e;
}

.global-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.right-column {
	display: flex;
	flex-direction: column;
	padding-left: 3vh;
	height: 100vh;
}

.title-and-upload {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
	margin: 2vh 2vh 2vh 0vh;
	font-size: 5vh;
	vertical-align: middle;
}

.btn-upload {
	font-size: 1.5vh;
	font-weight: bold;
	font-style: italic;
	color: white;
	background-color: #007bff;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.2s;
	display: flex;
	text-align: center;
	align-items: center;
	padding: 1vh;
	margin: 2vh 2vh 2vh 0vh;
}

.text-upload {
	font-size: 1.8vh;
	font-weight: normal;
}

.btn-upload:hover {
	background-color: #0056b3;
}

.hidden-btn-upload {
	display: none;
}

.options-container {
	display: flex;
}

.small-button,
.big-button {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: white;

	background-color: #007bff;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.2s;
	text-align: center;
}

.big-button {
	padding: 20px;
	margin: 20px;
	width: 80px;
}

.small-button {
	background-color: #8833ff;
	padding: 10px;
	margin: 5px;
	width: 50px;
}

.small-button:hover {
	background-color: #6656b3;
}

#viewport {
	border-right: 0.2em solid whitesmoke;
	width: 100vh;
	height: 100vh;
	background-color: #282328;
}
