body {
	margin: 1%;
	color: whitesmoke;

	background-color: #545c7e;
}

* {
	font-family: Helvetca, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

.mesh-vis {
	display: flex;
	align-items: center;
}

.hidden-upload-button {
	display: none;
}

.options-container {
	display: flex;
}

.column {
	flex: 1;
    display: flex;
	align-items: center;
}

.small-button,
.big-button {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: white;

	background-color: #007bff;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.2s;
	text-align: center;
}

.big-button {
	padding: 20px;
	margin: 20px;
	width: 80px;
}

.small-button {
	background-color: #8833ff;
	padding: 10px;
	margin: 5px;
	width: 50px;
}

.small-button:hover {
	background-color: #6656b3;
}

.big-button:hover {
	background-color: #0056b3;
}

#viewport {
	border: 4px solid whitesmoke;
	border-radius: 2px;
	width: 1000px;
	height: 650px;
	background-color: #282328;
}