* {
	font-family: Helvetca, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: white;
}

body {
	margin: 0;
	background-color: #545c7e;
}

.global-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#viewport {
	border-right: 0.2em solid whitesmoke;
	width: 100vh;
	height: 100vh;
	background-color: #080808;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.right-column {
	display: flex;
	flex-direction: column;
	padding-left: 3vh;
	height: 100vh;
}

.title-and-upload {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
	margin: 2vh 2vh 2vh 0vh;
	font-size: 5vh;
	vertical-align: middle;
	filter: drop-shadow(0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3));
}

.title-icon {
	height: 1em;
	width: auto;
	vertical-align: middle;
	filter: drop-shadow(0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3));
}

.btn-upload {
	background-color: #007bff;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.text-upload {
	font-size: 1.8vh;
	font-weight: normal;
	filter: drop-shadow(0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3));
}

.btn-upload:hover {
	background-color: #0056b3;
}

.btn-camera-reset {
	background-color: #8833ff;
	width: 10vh;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.btn-camera-reset:hover {
	background-color: #6656b3;
}

.hidden-btn-upload {
	display: none;
}

.btn-upload,
.qualities-container label,
.btn-camera-reset {
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	padding: 1vh;
	margin: 2vh 2vh 2vh 0vh;
	cursor: pointer;
	font-size: 2vh;
	font-weight: bold;
	font-style: italic;
	transition: background-color 0.2s;
}

.qualities-container {
	display: flex;
	flex-direction: column;
	background: #aa11ff;
	border-radius: 10px;
	gap: 0vh;
	text-align: left;
	padding: 0vh 2vh 0vh 0vh;
	width: 14vh;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}

.qualities-container label {
	display: inline-block;
	margin: 0vh 2vh 0vh 0vh;
	border-radius: 0px;
	text-align: left;
	border-radius: 10px;
	padding: 1vh;
	width: 14vh;
}

.qualities-container input[type="radio"] {
	display: none;
}

.qualities-container label:has(input:checked) {
	background-color: black;
}

.qualities-container label:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
